.App {
  text-align: center;
  font-family: math;
}

.App > *{
  width: 90%;
  margin: 5%;
}

.App-link {
  color: #61dafb;
}

li {
  list-style-type: none;
  padding: 3.5% 0;
  text-align: left;
  border-top: 1px dashed black;
}

ul{
  padding: 0;
  margin: 2% 5%;
}

button {
  color: white;
  font-weight: bold;
  border: 2px solid orangered;
  border-radius: 2px;
  background-color: orangered;
  margin: 3px 0px
}

button:hover {
  color: orangered;
  border: 2px solid orangered;
  background-color: white;
}

input:focus-visible {
  outline-color: orangered;
}

.query-section{
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: lightyellow;
}

.query-section p{
  font-style: italic;
}

.query-section > *{
  margin-left: 5%;
  margin-right: 5%;
}

.query-input-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.query-input-section > *{
  width: 30%;
}
